<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Cadastro de Livros</title>
</head>
<body>
    <form action='/Livros/Salvar' method='post'>
        <label>Título:</label>
        <input name='titulo' />
        <br />
        <label>Autor</label>
        <input name='autor' />
        <br />
        <button>Gravar</button>
    </form>
</body>
</html>